* {
  margin: 0;
  padding: 0;
}

.Header {
  background-color: burlywood;
  margin: 0;
  margin-bottom: 35px;
  padding: 35px;
}

.Header span {
  color: black;
  margin: 0 auto;
  margin-left: 0;
}

.Header .TotalField {
  margin-left: 15px;
}

.Form {
  display: flex;
  margin-left: 35px;
}

.Form input {
  width: 100px;
}
